body {
  background-color: #D9D9D9;
}

h1 {
  font-family: 'Roboto Slab', serif; 
  font-size: 7.5em;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 4em;
  font-weight: 300;
  color: #00696B; 
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-size: 1.1em;
  line-height: 1.5;
  font-family: helvetica;
}

nav {
  text-align: center;
  width: 100%;
  height: 20px;
  z-index: 100;
  position: fixed;
}

nav ul {
  height: 4em;
  list-style: none;
}

nav li {
  font-size: 1.3em;
  color: white;
  font-family: 'Roboto Slab', serif; 
  display: inline-block;
  margin: 5px 15px;
}

nav li:hover {
  cursor: pointer;
}

.contact-icons {
  margin-top: 25px;
}

.title {
  margin-top: 15%;
  color: rgba(0,0,0,0.6);
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.contact-icons li {
  display: inline;
  margin: 20px;
}

.section-title {
  margin-bottom: 20px;
}

.screenshot {
  margin-top: 50px;
}

.project-description p {
  font-size: 1em;
}


.project-description h3 {
  margin-bottom: 15px;
}

.container {
  margin-top: 6%;
}




